/* ---------- ROOT VARIABLES ---------- */
:root {
  --primary: #1f1f1f;
  --secondary: #ffffff;
  --accent: #0d6efd;
  --text-light: #f5f5f5;
  --text-dark: #1a1a1a;
  --card-bg: #ffffff;
}

/* ---------- DARK MODE THEME ---------- */
.dark-mode {
  --primary: #ffffff;
  --secondary: #121212;
  --text-dark: #ffffff;
  --text-light: #1a1a1a;
  --card-bg: #1f1f1f;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--secondary);
  color: var(--text-dark);
  transition: 0.4s ease;
}
.hero {
    background: url("/images/pexels-luna-lovegood-4087391.jpg") center/cover no-repeat;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
    color: white;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
}
.hero p {
    color: black;
}

.navMenu {
    text-shadow: 0 5px 10px #fff;
}

#services .col-md-4 .service-card {
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ddd6d6b9;
}